.contact {
  margin-left: 260px;
  margin-top: -45%;
  max-width: 70%;
  width: 80%;
  height: auto; 
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 7px #888888;
  animation: fadeIn 0.6s ease-in-out;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 120px;
  position: relative;
  border-radius: 8px;
  padding-bottom: 30px;
}


.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.heading img {
  max-width: 150px;
  margin: auto;
  margin-bottom: 0.2rem;
}
.contact p{
  font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
    color: rgb(85, 85, 85);
    text-align: justify;
}




.links-list[data-v-79c31995] {
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
 
}
.Contactinformation a{
  text-decoration: none;
  color: rgb(79, 108, 236);
  font-weight: 500;
  cursor: pointer;
}
.Contactinformation a:hover {
  color: rgb(0, 47, 255);
}

@media (max-width: 768px) {
  .contact {
    margin-left: 220px;
    margin-top: -85%;
    width: 100%;
    height: auto; 
    margin-bottom: 20px;
  }

 
}

@media (max-width:576px) {
    .contact{
        margin-top: -95vh;
        margin-left: 120px;
        width: 70%;
    }
    
}
@media (max-width: 320px) {
    .contact{
       /* box-shadow: none; */
       /* border: none; */
       margin-left: 90px;
    }
   
}