.projects-list{
    /* margin-left: 220px;
    margin-top: -45%; */
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: var(--text-dark);
    margin-left: 260px;
    margin-top: -45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 16px;
    cursor: pointer;
    
}
.search{
    margin-left: 260px;
    margin-top: -45%;

}
form input{
    padding: 1rem 0;
  
    outline: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding-left: 10px;
}
form input:focus ~ label,
form input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 0.8rem;
    color: var(--primary-color); 
}
/* Parent container */
.projects-list {
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
    z-index: 1;
}


.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 100%;
    /* max-width: 1200px;  */
}





@media screen and (max-width:768px) {
    .search {
        margin-top: -85%;
       
        margin-left: 220px;
    

    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .projects-list{
        margin-left: -20px;
    }

}

@media screen and (max-width:576px) {
    .search {
        margin-top: -100vh;
        grid-template-columns: repeat(1, 1fr);

        gap: 20px;

    }
    .grid {
        margin-left: -20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid.card{
        width: 40vh;
    }

.projects-list{
    margin-left: -10px;
}

}

@media screen and (max-width:480px) {
    .search {
        margin-top: -100vh;
       
     
        gap: 20px;

    }
    .projects-list{
        margin-left: -4px;
    }
.grid{
    margin-top: -20px;
   
    /* margin-left: -10px; */
}

}


@media screen and (max-width:320px) {
    .search {

        margin-left: 80px;



    }
   
.projects-list{
    margin-left: 10px;
}

}
.radio{
    display: flex;
   gap:40px
}